<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <section class="content">
        <div class="create-post">
            <form action="/dashboard/post" method="post">
                <input type="hidden" name="userId" value="1">
                <input type="text" name="title" class="content-title">
                <textarea name="content"></textarea>
                <input type="submit" value="Post">
            </form>
        </div>
    </section>
</body>
</html>
