<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <section class="content">
        <form action="/dashboard/post" method="post" class="wrapper">
            <input type="hidden" name="userId" value="1">
            <input type="text" name="title" class="content-title" placeholder="Type your title name">
            <textarea name="content" placeholder="Just type you want to say"></textarea>
            <input type="submit" value="Post">
        </form>
        <section class="wrapper">
            <div class="">
            <%listPost.map((value)=>{%>
            <%})%>
            </div>
            <%if(button){%>
                <a href="/dashboard/more">
                    <button type="button" id="load-more">Load More</button>
                </a>
            <%}%>
        </section>
    </section>
</body>
</script>
</html>
