<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Petisi Online</title>
</head>
<body>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="UserName"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" value="LOGIN"/>
  </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    <% if(error){ %>
      alert('Username atau Password salah')
    <% } %>
</script>
</html>
