<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/assets/css/post.css">
    <title><%=data.title%></title>
</head>
<body>
    <section>
        <div class="header">
            <span class="title"><%=data.title%></span>
            <hr>
        </div>
        <div class="content">
            <span class="fullpage"><%=data.content%></span>
            <ul class="action">
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
</body>
</html>
